.search-item {
    margin: 25px auto;
    width: 800px;
    border-top: 1px solid #ddd;
    padding: 10px;
}

.search-item img {
    width: 100px;
    object-fit: contain;
    height: 150px;
}

.search-item h6 {
    font-size: 24px;
    color: blueviolet;
}

.search-item p {
    margin: 5px;
}

.search-item span {
    margin-right: 10px;
}