<!-- serach product via search button tag -->
<div class="row search-item" *ngFor="let item of searchProduct">
  <div class="col-sm-3">
    <a routerLink="/details/{{ item.id }}">
      <img style="width: 100px; height: 150px" src="{{ item.image }}" alt="" />
    </a>
  </div>
  <div class="col-sm-8 details">
    <a routerLink="/details/{{ item.id }}"
      ><h6>{{ item.name }}</h6></a
    >
    <p>
      <b>{{ item.price }}</b>
    </p>
    <p>
      <span>{{ item.color }}</span
      ><span>{{ item.category }}</span>
    </p>
    <p>{{ item.description }}</p>
  </div>
</div>
