.user-auth h1{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 80px;
    color: blueviolet;
}
.user-auth{
    margin-bottom: 100px;
}

.auth-toggle-link
{
    margin-top: 20px;
    color: blueviolet;
    text-align: center;
    font-size: 14px;
}