.product-header-image {
    object-fit: contain;
    height: 600px;
    width: 100%;

}

.product-list-wrapper {
    margin-top: 80px;
    margin-bottom: 80px;
}

.product-item {
    margin-bottom: 40px;
    border: 1px solid #ddd;
    margin-right: 25px;
}

.product-item img {
    width: 100% !important;
    height: 300px;
    object-fit: contain;


}

.product-item .product-details {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}
.product-item .name-head{
    margin: 0px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.product-price{
    text-align: center;
}
.product-color{
    text-align: center;
}

.product-footer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}